<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpotifyClientID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Subtext listens through the microphone to recognize songs playing around you, so it can show their lyrics.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
